<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TajKat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84CCB4B51F07FF4D00854B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84CCB4C91F07FF4E00854B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84CCB4D41F07FF4E00854B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
